<!doctype html>
<html><head><title>Mobile log in</title>
</head><body>

<h1>Mobile log in</h1>

<form>
 <fieldset>
  <legend>Login</legend>
  <table>
   <tr><td>Mobile</td><td><input name="mobile" id="mobile" /></td></tr>
   <tr><td>Password</td><td><input name="password" id="password" type="password" /></td></tr>
   <tr><td></td><td><button type="submit">Login</button></td></tr>
  </table>
  <p>If you forgot your password, just register again. You'll get a password immediately.</p>
 </fieldset>
</form>

<form action="register" method="post">
 <fieldset>
  <legend>Register</legend>
  <table>
   <tr><td>Mobile</td><td><input name="mobile" id="mobile" /></td></tr>
   <tr><td>Name</td><td><input name="name" id="name"/></td></tr>
   <tr><td></td><td><button type="submit">Register</button></td></tr>
  </table>
 </fieldset>
</form>

</body></html>
